<div id="player">
    <a href="#" class="audio prev">Prev</a>
    <audio controls>
      Your browser does not support HTML 5 Player.
    </audio>
    <a href="#" class="audio next">Next</a>
  
    <br><span class="audio name">loading...</span>
  </div>
  
  <div id="musics">
    <h4>Musics</h4>
    <p><a href="#" class="audio play" data-music-id="neon">Neon</a></p>
    <p><a href="#" class="audio play" data-music-id="modern">Modern</a></p>
    <p><a href="#" class="audio play" data-music-id="ireport">iReport</a></p>
    <p><a href="#" class="audio play" data-music-id="bright">Bright</a></p>
  </div>